POSTGRES_PASSWORD=replace-with-a-long-random-password
JWT_SIGNING_KEY=replace-with-a-random-key-of-at-least-32-bytes
GLPI_BASE_URL=http://glpi.gp1.loc/apirest.php
GLPI_APP_TOKEN=
GLPI_USER_TOKEN=
GLPI_SERVICE_USER_ID=0
