<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="PixelHelper" Language="1049" Codepage="1251" Version="1.1.0" Manufacturer="PixelHelper" UpgradeCode="0C2B80D1-52E0-4931-8F48-FBB031A89A55">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="Установлена более новая версия PixelHelper." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder"><Directory Id="INSTALLFOLDER" Name="PixelHelper">
        <Component Id="MainExecutableComponent" Guid="96F581E4-391C-490F-B3E7-2CD0B03BAC75" Win64="yes">
          <File Id="MainExecutable" Source="$(var.PublishDir)\PixelHelper.exe" KeyPath="yes">
            <Shortcut Id="StartMenuLink" Directory="StartMenuFolder" Name="PixelHelper" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
          </File>
          <RemoveFolder Id="RemoveStartMenu" Directory="StartMenuFolder" On="uninstall" />
        </Component>
      </Directory></Directory>
      <Directory Id="CommonAppDataFolder"><Directory Id="ProgramDataShortcut" Name="PixelHelper">
        <Component Id="GlobalShortcut" Guid="6EF29E6E-26B8-49CF-9B6E-6E2AEBDCA86B" Win64="yes">
          <Shortcut Id="ProgramDataLink" Name="PixelHelper" Target="[INSTALLFOLDER]PixelHelper.exe" WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="RemoveShortcutDir" On="uninstall" />
          <RegistryValue Root="HKLM" Key="Software\PixelHelper" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory></Directory>
      <Directory Id="ProgramMenuFolder"><Directory Id="StartMenuFolder" Name="PixelHelper" /></Directory>
    </Directory>
    <Feature Id="Complete" Title="PixelHelper" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentRef Id="MainExecutableComponent" />
      <ComponentRef Id="GlobalShortcut" />
    </Feature>
    <CustomAction Id="CleanUserProfiles" FileKey="MainExecutable" ExeCommand="--cleanup-machine" Execute="deferred" Impersonate="no" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="CleanUserProfiles" Before="RemoveFiles">REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
